{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.name.label }}<br>{{ form.name(size=60) }}{% for error in form.name.errors %}<span style='color:red;'>[{{error}}]</span>{% endfor %}</p>
        <p>{{ form.industry.label }}<br>{{ form.industry(size=60) }}</p>
        <p>{{ form.website.label }}<br>{{ form.website(size=60) }}{% for error in form.website.errors %}<span style='color:red;'>[{{error}}]</span>{% endfor %}</p>
        <p>{{ form.address.label }}<br>{{ form.address(cols=58, rows=4) }}</p>
        <p>{{ form.primary_contact_name.label }}<br>{{ form.primary_contact_name(size=60) }}</p>
        <p>{{ form.submit() }} <a href="{{ url_for('companies.list_companies') }}">Cancel</a></p>
    </form>
{% endblock %}
